# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Turbo
.turbo/

# Vite
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac
.DS_Store
*.AppleDouble
.LSOverride

# Electron / ASAR / Build Outputs
dist
dist-electron
release/
*.asar
*.asar.unpacked

# Application Packages and Binaries
*.app
*.dmg
*.zip
*.tar.gz
Orca Notes*
